html, body {
	margin: 0;
	background-color: #000000;
}

body {
	color: #FFFFFF;
	font-family: prestige elite std, monospace;
}

text {
    cursor: pointer;
    font-size: 2vw;
    margin-left: 1vw;
}

span {
    cursor: default;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #41fd2f;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 2vw;
}

.sidenav a {
    color: #000000;
    text-decoration: none;
}

.sidenav .closebtn {
    position: absolute;
    font-size: 1.8vw;
    margin-left: 15.2vw;
    margin-top: -1vw;
}

.transform {
  -webkit-transition: all 1s ease;  
  -moz-transition: all 1s ease;  
  -o-transition: all 1s ease;  
  -ms-transition: all 1s ease;  
  transition: all 1s ease;
}

.transform-active {
  margin-top: 270px;
}

.dropdowncontent {
    display: none;
    position: relative;
}

.dropbtn {
    background-color: #41fd2f;
    font-family: Prestige Elite Std, monospace;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    color: #000000;
    font-size: 1.2vw;
    padding: 0;
}

.dropbtn:focus {
    outline: none;
}

.dropbtn:hover {
    text-decoration: underline;
}

.dropdown a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.2vw;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.dropdown a:hover {
    text-decoration: underline;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    margin-top: 20vw;
}

.typed::after {
    content: '|';
    display: inline;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.typed-cursor{
    opacity: 0;
    display: none;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}