html, body {
	margin: 0;
	background-color: #000000;
}

body {
	color: #FFFFFF;
	font-family: Prestige Elite Std, monospace;
    margin-top: 0.7vw;
}

text {
    cursor: pointer;
    font-size: 2vw;
    margin-left: 1vw;
}

span {
    cursor: default;
}

a {
  cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #41fd2f;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    color: #000000;
    text-decoration: none;
}

.sidenav .closebtn {
    position: absolute;
    font-size: 1.5vw;
    margin-left: 15.2vw;
    margin-top: 1vw;
}

.transform {
  -webkit-transition: all 1s ease;  
  -moz-transition: all 1s ease;  
  -o-transition: all 1s ease;  
  -ms-transition: all 1s ease;  
  transition: all 1s ease;
}

.transform-active {
  margin-top: 270px;
}

.menu {
    margin-top: 6.5vw;
    margin-left: 2vw;
}

.dropdowncontent {
    display: none;
    position: relative;
    padding-bottom: 0.8vw;
}

a > span {
    position: relative;
    color: #000000;
    text-decoration: none;    
}

a > span:hover {
    color: #000000;
}

a > span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.09vw;
  bottom: 0;
  left: 0;
  top: 1.1vw;
  background-color: #000000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a > span:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.dropbtn {
    background-color: #41fd2f;
    font-family: Helvetica, monospace;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    color: #000000;
    font-size: 1vw;
    letter-spacing: 0.1vw;
    padding: 0;
    top: 0;
    padding-bottom: 0.8vw;
}

.dropbtn:focus {
    outline: none;
}

div > button {
    position: relative;
    color: #000000;
    text-decoration: none;    
}

div > button:hover {
    color: #000000;
}

div > button:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.09vw;
  bottom: 0;
  left: 0;
  top: 1.1vw;
  background-color: #000000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

div > button:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.dropdown a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 0.9vw;
    color: #000000;
    display: block;
    transition: 0.3s;
    font-family: Helvetica, sans serif;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    margin-top: 20vw;
}

.typed::after {
    content: '|';
    display: inline;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.typed-cursor{
    opacity: 0;
    display: none;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@media only screen and (max-width: 700px) {

    text {
        cursor: pointer;
        font-size: 9vw;
        margin-left: 1vw;
    }

    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

    .menu {
    margin-top: 15vw;
    margin-left: 5vw;
    }

    .dropbtn {
    font-size: 4.3vw;
    letter-spacing: 0.4vw;
    padding: 0;
    top: 0;
    padding-bottom: 2vw;
    }

    .dropbtn a {
    font-size: 4.3vw;
    letter-spacing: 0.4vw;
    }

    .dropdown a {
        font-size: 3.8vw;
        letter-spacing: 0.4vw;
    }

    .sidenav .closebtn {
    font-size: 7vw;
    margin-left: 60vw;
    margin-top: -1vw;
    }

    #content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    margin-top: 40vw;
    }


}