@font-face {
    font-family: NeueHaasGroteskBd;
    src: url(NeueHaasGrotesk/NHaasGroteskTXPro-75Bd.ttf);
  }

body {
    font-family: NeueHaasGroteskBd;
    text-transform: uppercase;
    font-size: 20px;
}

.collapsible-body, .collapsible-header, .collapsible {
    border: none;
}

.collapsible {
    z-index: 10;
    margin: -1rem 0 1rem 0;
}

.collapsible-header {
    box-shadow: 0px -15px 20px rgba(0, 0, 0, 0.19);
    border-radius: 20px 20px 0px 0px;
    font-size: 1.8vw;
    line-height: 2.5;
    padding: 15px 0px 0px 50px;
    height: 200px;
}

.collapsible-body {
    padding: 30px 0px 150px 50px;
}

.jewelry {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 90%), url(Telfar/earringpattern.jpg);
    background-size: cover;
    background-position: center;
}

.bags {
    background: linear-gradient(180deg, rgba(248, 159, 47, 0) 0%, #f89f2f 90%), url(Telfar/bags.png);
    background-size: cover;
    background-position: center;
}

.bags-body {
    background-color: rgb(248, 159, 47);
}

.content img {
    z-index: -10;
}