@font-face {
    font-family: NeueHaasGroteskBd;
    src: url(NeueHaasGrotesk/NHaasGroteskTXPro-75Bd.ttf);
  }

body {
    font-family: NeueHaasGroteskBd;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.5px;
}

.large-font {
    font-size: 2.2vw;
}

.addtobag {
    background-color: black;
    color: white;
    border: 3px solid black;
    cursor: pointer;
    width: 25%;
    margin-top: 40px;
    transition: 0.5s ease-in-out;
}

.addtobag:hover {
    background-color: white;
    color: black;
}

.mailinglist {
    background: url(Telfar/headerimg2.jpg);
    background-size: cover;
    background-position: center;
    height: 1000px;
}

.mailinglist div {
    padding-top: 25%;
}

.mailinglist input {
    background-color: white;
    border: 3px solid black;
    font-family: NeueHaasGroteskBd;
    text-transform: uppercase;
    text-align: center;
    width: 30%;
    box-sizing: border-box;
}

input:focus{
    outline: none;
    border: 3px solid black !important;
    box-shadow: none !important;
}

.submit {
    border: 3px solid black;
    background-color: white;
    font-size: 2.2vw;
    width: 30%;
    margin: auto;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.submit:hover {
    background-color: black;
    color: white;
    /* transition: 0.2s; */
}

.collapsible-body, .collapsible-header, .collapsible {
    border: none;
}

.collapsible {
    z-index: 10;
    margin: -1rem 0 1rem 0;
}

.collapsible-header {
    box-shadow: 0px -15px 20px rgba(0, 0, 0, 0.19);
    border-radius: 20px 20px 0px 0px;
    font-size: 2.2vw;
    line-height: 2.5;
    padding: 15px 0px 0px 50px;
    height: 270px;
    margin-top: -1%;
    transition: 0.5s ease-in-out;
}

.collapsible-body {
    padding: 30px 0px 150px 50px;
}

.jewelry {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 90%), url(Telfar/earringpattern.jpg);
    background-size: cover;
    background-position: center;
}

.jewelry-items, .winter-items {
    padding: 50px 0px;
}

.bags {
    background: linear-gradient(180deg, rgba(248, 159, 47, 0) 0%, #f89f2f 90%), url(Telfar/bags.png);
    background-size: cover;
    background-position: center;
}

.bags-body {
    background-color: rgb(248, 159, 47);
}

.bags-body img {
    width: 70%;
    margin: auto;
}

.bags-body p {
    padding: 20px 0px;
    text-transform: none;
}

.content img {
    z-index: -10;
}

.winter {
    /* background: rgb(189, 233, 255); */
    background: linear-gradient(180deg, #B7E5FF 30%, #FFFFFF 100%);
}

.footer-body {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 60%), url(Telfar/footerimage3.jpg);
    background-size: cover;
    background-position: center;
    height: 700px;
}

.phone-menu {
    display: none;
}

.menu img {
    width: 32%;
}

.web {
    display: block;
}

.phone {
    display: none;
}

@media only screen and (max-width: 680px) {
    body {
        font-size: 12px;
    }

    .menu {
        display: none;
    }

    .phone-menu {
        display: grid;
        font-size: 5vw;
        grid-template-columns: 50% 50%;
    }

    .phone-menu img {
        width: 60%;
    }

    .mailinglist div {
        padding-top: 17%;
    }

    .mailinglist {
        height: 350px;
    }

    .mailinglist input, .submit {
        width: 60%;
        font-size: 5vw;
    }

    .submit {
        background-color: black;
        color: white;
    }

    .submit:hover {
        color: white;
        background-color: black;
    }

    .large-font {
        font-size: 5vw;
    }

    .collapsible-header {
        font-size: 5vw;
        padding: 15px 0px 0px 25px;
        height: 150px;
        margin-top: -3.5%;
        box-shadow: 0px -12px 15px rgba(0, 0, 0, 0.19);
    }

    .collapsible-body {
        padding: 15px 0px 80px 25px;
    }
    
    .bags-body img {
        width: 100%;
        margin: auto;
    }
    
    .bags-body p {
        padding: 20px 0px;
        max-width: 90%;
    }

    .addtobag {
        border: 3px solid black;
        cursor: pointer;
        width: 50%;
        margin-top: 8px;
        margin-bottom: 30px;
        transition: 0.5s ease-in-out;
    }
    
    .addtobag:hover {
        background-color: black;
        color: white;
    }

    .footer-body {
        height: 200px;
    }

    .web {
        display: none;
    }
    
    .phone {
        display: block;
    }
  }