body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #19191a;
    color: #ffffff;
    font-family: 'roboto-mono', monospace;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}

* {
	box-sizing: border-box;
}

#defaultCanvas0 {
  display: none;
}

input {
    position: fixed;
    top: 4%;
    right: 1%;
    width: 20%;
}

input[type="text"]
{
  font-family: 'roboto-mono', monospace;
  font-size: 14px;
}

textarea:focus, input:focus{
  outline: none;
}

p, h1, h2, h3, h4, span, a, div {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

.invert {
    filter: invert();
}

.warcore-window-price {
    text-align: right;
}

.warcore-window-title {
    font-family: titling-gothic-fb-wide;
}

.warcore-window-details, .warcore-window-spacer, .swiper-container {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}

.swiper-container {
    width: 100%;
    height: 70%;
}

.warcore-window {
    position: fixed;
    background-color: #F4F4F4;
    top: 10%;
    right: 20%;
    width: 16%;
}

.warcore-window-title {
    color: #373737;
    border: 1px solid black;
    font-size: 0.7vw;
    font-weight: 500;
    text-shadow: rgb(240, 240, 240) 0px 1px 0px;
    padding: 5px 2px;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(180deg, #A7A7A7 0%, #FFFFFF 25%, #A0A0A0 97.92%);
}

.warcore-window-spacer {
    height: 3px;
    background-color: #C4C4C4;
}

.warcore-window-details {
    font-size: 0.55vw;
    padding: 2px 5.5px;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #F4F4F4;
}

.warcore-button-icon {
    position: absolute;
    width: 5%;
    bottom: -1.4%;
    pointer-events: none;
}

.warcore-left-icon {
    right: 21.4%;
}

.warcore-right-icon {
    right: 6.4%;
}

.window-close {
    position: absolute;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 2px;
    padding: 3px 7px;
    z-index: 1;
    background: linear-gradient(180deg, #B0B0B0 0%, #FFFFFF 16.67%, #FFFFFF 23.96%, #B0B0B0 100%);
    bottom: 2%;
    left: 3%;
    cursor: pointer;
}

.flickity-prev-next-button {
    border-radius: 2px !important;
    width: 27px !important;
    height: 27px !important;
}

.flickity-button {
    background: linear-gradient(180deg, #B0B0B0 0%, #FFFFFF 16.67%, #FFFFFF 23.96%, #B0B0B0 100%) !important;
    border: 1px solid #000000 !important;
    top: 93.3% !important;
}

.flickity-prev-next-button.previous {
    left: 70.5% !important;
}

.flickity-prev-next-button.next {
    right: 3% !important;
}

.flickity-button:active, .window-close:active {
    background: linear-gradient(180deg, #828282 0%, #FFFFFF 71.87%, #FFFFFF 81.77%, #828282 100%) !important;
    opacity: 1 !important;
}

.flickity-button-icon {
    display: none;
}

.imageCycle1{
    background: url("assets/bg1.jpg") repeat;
    background-size: cover;
}
.imageCycle2{
    background: url("assets/bg2.png") repeat center;
    background-size: contain;
}
.imageCycle3 {
    background: url("assets/bg3.jpg") repeat center;
    background-size: contain;
}

.imageCycle4 {
    background: url("assets/bg4.jpg") repeat;
    background-size: cover;
}

.imageCycle5 {
    background: url("assets/bg5.jpg") repeat center;
    background-size: 30%;
}

.imageCycle6 {
    background: url("assets/bg6.jpg") repeat center;
    background-size: cover;
}

.imageCycle7 {
    background: url("assets/bg7.jpg") repeat bottom;
    background-size: 50%;
}

.imageCycle8 {
    background: url("assets/bg8.jpg") repeat left;
    background-size: cover;
}

.imageCycle9 {
    background: url("assets/bg9.jpg") repeat center;
    background-size: contain;
}

.starlight {
	-webkit-animation: text-flicker-in-glow 4s linear infinite both;
	        animation: text-flicker-in-glow 4s linear infinite both;
}

@keyframes text-flicker-in-glow {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
      text-shadow: none;
    }
    10.1% {
      opacity: 1;
      text-shadow: none;
    }
    10.2% {
      opacity: 0;
      text-shadow: none;
    }
    20% {
      opacity: 0;
      text-shadow: none;
    }
    20.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    20.6% {
      opacity: 0;
      text-shadow: none;
    }
    30% {
      opacity: 0;
      text-shadow: none;
    }
    30.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.5% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.6% {
      opacity: 0;
      text-shadow: none;
    }
    45% {
      opacity: 0;
      text-shadow: none;
    }
    45.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55.1% {
      opacity: 0;
      text-shadow: none;
    }
    57% {
      opacity: 0;
      text-shadow: none;
    }
    57.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60.1% {
      opacity: 0;
      text-shadow: none;
    }
    65% {
      opacity: 0;
      text-shadow: none;
    }
    65.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75.1% {
      opacity: 0;
      text-shadow: none;
    }
    77% {
      opacity: 0;
      text-shadow: none;
    }
    77.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85.1% {
      opacity: 0;
      text-shadow: none;
    }
    86% {
      opacity: 0;
      text-shadow: none;
    }
    86.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    100% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
  }