html {
	background-color: #ffffff;
}

html,body {
	background-color: #ffffff;
	margin: 0;
}

body {
	font-family: motor, monospace;
	font-size: 15px;
	background-color: #ffffff;
}

div {
	height: 100%;
	width: 100%;
}

a {
	text-decoration: none;
	color: #000000;
}

ul {
	display: inline-block;
	position: fixed;
	color: #000000;
	font-size: 1.3vw;
	letter-spacing: 0.2vw;
	text-transform: uppercase;
	z-index: 2;
}

li {
	display: inline-block;
}

/*menu*/
.li1 {
	margin-right: 4vw;
	padding-bottom: 1.5vw;
}

.li2 {
	margin-right: 4vw;
	padding-bottom: 1.5vw;
}

.menu1 {
	margin-top: 2vw;
	z-index: 2;
}

.menu2 {
	margin-top: 2vw;
	margin-left: 64vw;
	z-index: 2;
}

.customize {
	position: fixed;
	margin-left: 96vw;
	margin-top: 52vw;
	font-size: 2.5vw;
}

.customize > a {
	position: absolute;
	width: 5vw;
	padding-left: 3vw;
	margin-left: -2.8vw;
}

.womendropdown {
	display: none;
    position: absolute;
    background-color: #ffffff;
    width: 30vw;
    height: 20vw;
    z-index: 1;
    border: 0.3vw solid #000000;
    margin-top: 1.5vw;
    z-index: 2;
}

.womendropdown a {
	position: absolute;
	display: inline-block;
	background-color: #ffffff;
	width: 15vw;
	height: 5vw;
}

.mhelmut:hover, .malyx:hover, .mambush:hover, .mbiis:hover,
.mgia:hover, .mprada:hover, .mnamilia:hover,
.mheron:hover, .m032c:hover, .mheronmen:hover, .mpolythene:hover,
.english:hover, .german:hover, .mambushmen:hover, .malyxmen:hover,
.mgoose:hover, .mwall:hover, .mraf:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

div .malyx {
	text-align: center;
	box-sizing: border-box;
	border-bottom: 0.3vw solid #000000;
	border-right: 0.15vw solid #000000;
	padding-top: 1.5vw;
}

div .mambush {
	text-align: center;
	box-sizing: border-box;
	border-bottom: 0.3vw solid #000000;
	border-left: 0.15vw solid #000000;
	margin-left: 15vw;
	padding-top: 1.5vw;
}

div .mbiis {
	text-align: center;
	box-sizing: border-box;
	border-bottom: 0.3vw solid #000000;
	border-right: 0.15vw solid #000000;
	margin-top: 5vw;
	padding-top: 1.5vw;
}

div .mhelmut {
	text-align: center;
	box-sizing: border-box;
	border-bottom: 0.3vw solid #000000;
	border-left: 0.15vw solid #000000;
	margin-left: 15vw;
	margin-top: 5vw;
	padding-top: 1.5vw;
}

div .mheron {
	text-align: center;
	box-sizing: border-box;
	border-bottom: 0.3vw solid #000000;
	border-right: 0.15vw solid #000000;
	margin-top: 10vw;
	padding-top: 1.5vw;
}

div .mgia {
	text-align: center;
	box-sizing: border-box;
	border-bottom: 0.3vw solid #000000;
	border-left: 0.15vw solid #000000;
	margin-left: 15vw;
	margin-top: 10vw;
	padding-top: 1.5vw;
}

div .mnamilia {
	text-align: center;
	box-sizing: border-box;
	border-right: 0.15vw solid #000000;
	margin-top: 15vw;
	padding-top: 1.5vw;
}

div .mprada {
	text-align: center;
	box-sizing: border-box;
	border-left: 0.15vw solid #000000;
	margin-left: 15vw;
	margin-top: 15vw;
	padding-top: 1.5vw;
}

.dropdown:hover .womendropdown {
    display: block;
}

.mendropdown {
	display: none;
	position: absolute;
    background-color: #ffffff;
	width: 30vw;
	height: 20vw;
	z-index: 1;
	border: 0.3vw solid #000000;
	margin-top: 1.5vw;
	z-index: 2;
}

.mendropdown a {
	position: absolute;
	display: inline-block;
	background-color: #ffffff;
	width: 15vw;
	height: 5vw;
}

div .m032c {
	text-align: center;
	box-sizing: border-box;
	border-bottom: 0.3vw solid #000000;
	border-right: 0.15vw solid #000000;
	padding-top: 1.5vw;
}

div .mwall {
	text-align: center;
	box-sizing: border-box;
	border-bottom: 0.3vw solid #000000;
	border-left: 0.15vw solid #000000;
	margin-left: 15vw;
	padding-top: 1.5vw;
}

div .malyxmen {
	text-align: center;
	box-sizing: border-box;
	border-bottom: 0.3vw solid #000000;
	border-right: 0.15vw solid #000000;
	margin-top: 5vw;
	padding-top: 1.5vw;
}

div .mambushmen {
	text-align: center;
	box-sizing: border-box;
	border-bottom: 0.3vw solid #000000;
	border-left: 0.15vw solid #000000;
	margin-left: 15vw;
	margin-top: 5vw;
	padding-top: 1.5vw;
}

div .mraf {
	text-align: center;
	box-sizing: border-box;
	border-bottom: 0.3vw solid #000000;
	border-right: 0.15vw solid #000000;
	margin-top: 10vw;
	padding-top: 1.5vw;
}

div .mgoose{
	text-align: center;
	box-sizing: border-box;
	border-bottom: 0.3vw solid #000000;
	border-left: 0.15vw solid #000000;
	margin-left: 15vw;
	margin-top: 10vw;
	padding-top: 1.5vw;
}

div .mheronmen {
	text-align: center;
	box-sizing: border-box;
	border-right: 0.15vw solid #000000;
	margin-top: 15vw;
	padding-top: 1.5vw;
}

div .mpolythene {
	text-align: center;
	box-sizing: border-box;
	border-left: 0.15vw solid #000000;
	margin-left: 15vw;
	margin-top: 15vw;
	padding-top: 1.5vw;
}

.dropdown:hover .mendropdown {
    display: block;
}

.languagedropdown {
	display: none;
    position: absolute;
    background-color: #ffffff;
    /*background-color: red;*/
    width: 15vw;
    height: 10vw;
    z-index: 1;
    border: 0.3vw solid #000000;
    margin-top: 1.5vw;
}

.languagedropdown a {
	position: absolute;
	display: inline-block;
	background-color: #ffffff;
	width: 15vw;
	height: 5vw;
}

div .english {
	text-align: center;
	box-sizing: border-box;
	border-bottom: 0.3vw solid #000000;
	padding-top: 1.5vw;
}

div .german {
	text-align: center;
	box-sizing: border-box;
	margin-top: 3.56vw;
	padding-top: 1.5vw;
}

.dropdown:hover .languagedropdown {
    display: block;
}

.customizedropdown {
	display: none;
    position: absolute;
    background-color: #ffffff;
    width: 15vw;
    height: 20vw;
    z-index: 1;
    border: 0.3vw solid #000000;
    margin-top: -21.5vw;
    margin-left: -17vw;
}

.dropdown:hover .customizedropdown {
    display: block;
}

.budget {
	position: fixed;
	color: #000000;
	font-size: 1.3vw;
	letter-spacing: 0.2vw;
	text-transform: uppercase;
	margin-top: 4.5vw;
	margin-left: 93.5vw;
}

.startanimation {
	animation-name: fadein;
	animation-duration: 3s;
	animation-delay: 5s;
	animation-fill-mode: forwards;
	opacity: 0;
}

@keyframes fadein {
from {opacity: 0;}
to {opacity: 1;}
}
/*menu*/


#photoroll {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}

#prodphotoroll {
	position: absolute;
}

/*women*/
.wnamilia {
	position: absolute;
	text-align: center;
	margin-top: 12vw;
	z-index: -1;
}

.wnamilia img {
	position: absolute;
	border: 0.4vw solid #000000;
}

.wnamilia p {
	position: absolute;
	font-size: 3.4vw;
	letter-spacing: 0.3vw;
	text-transform: uppercase;
	margin-top: 29vw;
	margin-left: 27.2vw;
	border: 0.3vw solid #000000;
	background-color: #ffffff;
	padding: 1.2vw 1.7vw 1.2vw 1.7vw;
}

.wnamilia a {
	position: absolute;
	font-family: avenir, sans;
	font-weight: 500;
	font-size: 1.2vw;
	margin-top: 37.1vw;
	margin-left: -15vw;
}

.wnamilia span {
	position: absolute;
	font-family: motor, sans;
	font-size: 1.5vw;
	margin-left: 0.4vw;
}

.wnamiliaimg1 {
	margin-left: -24vw;
}

.wnamiliaimg2 {
	margin-left: -2vw;
}

.wiamgia {
	position: absolute;
	text-align: center;
	margin-top: 68vw;
	z-index: -1;
	height: 48vw;
	/*background-color: red;*/
}

.wiamgia img {
	position: absolute;
	border: 0.4vw solid #000000;
}

.wiamgia p {
	position: absolute;
	font-size: 3.4vw;
	letter-spacing: 0.3vw;
	text-transform: uppercase;
	border: 0.3vw solid #000000;
	background-color: #ffffff;
	width: 15vw;
	padding: 1.2vw 1.7vw 1.2vw 1.7vw;
	margin-top: 34vw;
	margin-left: 22vw;
}

.wiamgia a {
	position: absolute;
	font-family: avenir, sans;
	font-weight: 500;
	font-size: 1.2vw;
	margin-top: 41.8vw;
	margin-left: -15.5vw;
}

.wiamgia span {
	position: absolute;
	font-family: motor, sans;
	font-size: 1.5vw;
	margin-left: 0.4vw;
}

.wiamgiaimg1 {
	margin-left: -33vw;
}

.wiamgiaimg2 {
	margin-left: 11vw;
	margin-top: 6vw;
}
/*women*/

/*men*/
.mengoose {
	position: absolute;
	text-align: center;
	margin-top: 12vw;
	z-index: -1;
}

.mengoose img {
	position: absolute;
	border: 0.4vw solid #000000;
}

.mengoose p {
	position: absolute;
	font-size: 3.4vw;
	letter-spacing: 0.3vw;
	text-transform: uppercase;
	margin-top: 26vw;
	margin-left: 56vw;
	border: 0.3vw solid #000000;
	background-color: #ffffff;
	padding: 1.2vw 1.7vw 1.2vw 1.7vw;
}

.mengoose a {
	position: absolute;
	font-family: avenir, sans;
	font-weight: 500;
	font-size: 1.2vw;
	margin-top: 35vw;
	margin-left: 6vw;
}

.mengoose span {
	position: absolute;
	font-family: motor, sans;
	font-size: 1.5vw;
	margin-left: 0.4vw;
}

.mgooseimg1 {
	margin-left: -25vw;
}

.mgooseimg2 {
	margin-left: 6vw;
}
/* men */

/* products */
.product {
	position: absolute;
	margin-top: 20vw;
	width: 90vw;
	height: 49vw;
	z-index: -1;
	margin-left: 5vw;
}

.prodimg {
	position: absolute;
	width: 20%;
	display: inline-block;
}

.product > a {
	display: inline-block;
	width: 10vw;
	vertical-align: top;
	margin-left: 8vw;
	margin-right: 8vw;
	margin-bottom: 5vw;
}

.brandname {
	position: absolute;
	background-color: #ffffff;
	border: 0.3vw solid #000000;
	font-size: 3.2vw;
	letter-spacing: 0.3vw;
	text-transform: uppercase;
	padding: 0.7vw 1.7vw 0.7vw 1.7vw;
	margin-top: 10vw;
	margin-left: 13vw;
}

.branddropdown {
	display: none;
    position: absolute;
    font-size: 1.1vw;
	text-transform: none;
	letter-spacing: 0.05vw;
	font-family: avenir next condensed, sans;
    background-color: #ffffff;
    width: 22vw;
    padding: 4vw;
    z-index: 1;
    border: 0.3vw solid #000000;
    margin-top: 3vw;
    margin-left: -2vw;
}

.dropdown:hover .branddropdown {
    display: block;
}
/* products */

/* product page */
.prodcontainer {
	position: absolute;
	/*background-color: red;*/
	margin-top: 13vw;
	height: 80vw;
	width: 60vw;
	margin-left: 20vw;
}

.prodpage {
	position: absolute;
	width: 25vw;
	height: 40vw;
	/*margin-left: 20vw;*/
	/*margin-top: 13vw;*/
}

.prodpageimg {
	width: 100%;
	padding-bottom: 1vw;
}

.prodinfo {
	position: fixed;
	border: 0.3vw solid #000000;
	background-color: #ffffff;
	margin-left: 30vw;
	padding: 3vw;
	width: 23vw;
	height: 30vw;
}
/* product page */

/* applies to all */
.caption {
	margin-top: 19vw;
	text-transform: uppercase;
	font-family: avenir next condensed, sans;
	font-size: 0.9vw;
	letter-spacing: 0.15vw;
	width: 18vw;
}

.price {
	font-family: avenir next condensed, sans;
	letter-spacing: 0.15vw;
	font-size: 0.9vw;
	margin-top: -0.5vw;
	width: 18vw;
}

.title {
	/*position: absolute;*/
	text-transform: uppercase;
	font-size: 2.3vw;
	letter-spacing: 0.1vw;
	margin: 0;
}

.description {
	/*position: absolute;*/
	font-size: 1vw;
	line-height: 1.7vw;
	text-transform: none;
	letter-spacing: 0.05vw;
	font-family: avenir next condensed, sans;
	width: 18vw;
	/*margin-top: 6.5vw;*/
}

.prodprice {
	/*position: absolute;*/
	text-transform: uppercase;
	font-size: 1.5vw;
	letter-spacing: 0.05vw;
	/*margin-top: 20vw;*/
}

.wishlist {
	/*position: absolute;*/
	text-transform: uppercase;
	font-size: 1.5vw;
	letter-spacing: 0.05vw;
	/*margin-top: 20vw;*/
	/*margin-left: 10.5vw;*/
}

.wishlist:hover {
	color: white;
	background-color: black;
}

.addtocart {
	/*position: absolute;*/
	text-transform: uppercase;
	/*border: 0.3vw solid #000000;*/
	font-size: 1.5vw;
	background-color: #ffffff;
	letter-spacing: 0.1vw;
	/*padding: 0.8vw 1.8vw 0.8vw 1.8vw;*/
	/*margin-top: 25.5vw;*/
}

.addtocart:hover {
	color: white;
	background-color: black;
}

.backlink {
	/*position: absolute;*/
	font-size: 1vw;
	line-height: 1.7vw;
	text-transform: none;
	letter-spacing: 0.05vw;
	font-family: avenir next condensed, sans; 
}

.backlink:hover {
	color: white;
	background-color: black;
}

/*footer*/
.prod2 {
	position: absolute;
	background-color: #ffffff;
	width: 100%;
	height: 4vw;
	margin-top: 71.3vw;
	z-index: -1;
}

.prod3 {
	position: absolute;
	background-color: #ffffff;
	width: 100%;
	height: 4vw;
	margin-top: 99vw;
	z-index: -1;
}

.prod4 {
	position: absolute;
	background-color: #ffffff;
	width: 100%;
	height: 4vw;
	margin-top: 126.7vw;
	z-index: -1;
}

.prod5 {
	position: absolute;
	background-color: #ffffff;
	width: 100%;
	height: 4vw;
	margin-top: 154.5vw;
	z-index: -1;
}