html, body {
	margin: 0;
}

body {
	margin: 0;
	background-color: #000000;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	font-style: normal;
}

a {
	text-decoration: none;
	color: #707070;
	cursor: pointer;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

::selection {
	color: black;
    background: white;
}

/* menu */
.menu {
	display: block;
	font-size: 1.3vw;
	margin-top: 2vw;
	margin-left: 2vw;
	letter-spacing: 0.05vw
}

.menu li {
	display: inline-block;
	margin-right: 4vw;
}

.dropdown {
	display: block;
	position: absolute;
	height: 20%;
	width: 8vw;
}

.dropbtn {
	border: none;
	cursor: pointer;
	color: #707070;
	font-size: 2.5vw;
	margin-top: 1vw;
	margin-left: 2vw;
}

.dropbtn:focus {
	outline: none;
}

.dropdowncontent {
	display: none;
	position: relative;
	color: #707070;
	width: 8vw;
	z-index: 1;
	font-family: helvetica;
	text-transform: uppercase;
	font-size: 0.8vw;
	letter-spacing: 0.15vw;
	margin-left: 2vw;
	margin-top: 0.5vw;
}

.dropdowncontent a {
	color: #575757;
	display: block;
	padding-bottom: 1vw;
	cursor: pointer;
}

.sidenav {
	display: none;
}

.opensidenav {
	display: none;
}

/* menu */

/* carousel */
.indexcontent {
	display: flex;
	align-items: center;
	justify-content: center;
}

.carousel {
  box-sizing: border-box;
  margin-top: 16vw;
  width: 63vw;
}

.carousel-cell img {
	width: 19vw;
	padding-left: 1vw;
	padding-right: 1vw;
	cursor: default;
}
/* carousel */

/* search */
.searchlist {
	/*margin-top: 9vw;*/
	/*margin-left: 38vw;*/
	position: absolute;
}

.searchlist ul {
	color: #707070;
	font-size: 1.3vw;
	z-index: 2;
	border: none;
}

.searchlist li {
	border: none;
}

input {
	position: absolute;
	margin-top: 2vw;
	margin-left: 3vw;
	color: #707070;
	background-color: #000000;
	width: 45vw;
	border: none;
	font-family: bebas-neue, monospace;
	letter-spacing: 0.3vw;
	text-transform: uppercase;
	font-size: 7vw;
	z-index: 1;
	border-bottom: 0.8vw solid #707070;
}

input::placeholder {
	color: #707070;
}

input:focus {
	outline: none;
}

#searchlist {
	position: absolute;
	margin-left: 34.5vw;
	margin-top: 18vw;
	display: block;
}

#searchlist img {
	margin-right: 3vw;
	margin-bottom: 0.5vw;
}

#searchlist ul {
	/*position: absolute;*/
	z-index: -1;
	margin-left: 12vw;
	margin-top: 23vw;
	display: block;
}

#searchlist > li {
	display: block;
	margin-bottom: 2vw;
}

#searchlist span {
	position: absolute;
	font-family: helvetica, sans-serif;
	color: #707070;
	font-size: 1.1vw;
	font-weight: 700;
	letter-spacing: 0.1vw
}

#searchlist text {
	position: absolute;
	font-family: helvetica, sans-serif;
	color: #707070;
	font-size: 1vw;
	font-weight: 500;
	letter-spacing: 0.1vw
}

.searchtitle {
	margin-top: 5.5vw;
}

.searchartist {
	margin-top: 7vw;
}

.searchicon {
	position: absolute;
	margin-top: 0.5vw;
}

.audio-play-button {
	/*position: absolute;*/
	margin-left: -4.5vw;
	margin-top: 7.1vw;
	cursor: pointer;
}

.searchmoreicon {
	position: absolute;
	color: #707070;
	font-family: avenir, sans-serif;
	font-size: 3vw;
	margin-left: -4.5vw;
	margin-top: 3vw;
	cursor: pointer;
}

.opacity {
	opacity: 0;
}

/* search */

/* Artists */

.artistabout {
	margin-left: 25vw;
}

.artistabout img {
	margin-top: 10vw;
	margin-left: 2vw;
}

.artistabout h2 {
	font-family: Helvetica, sans-serif;
	color: #707070;
	letter-spacing: 0.05vw;
	font-size: 1.4vw;
	margin-bottom: 0;
}

.artistabout p {
	font-family: Helvetica, sans-serif;
	font-size: 1vw;
	color: #707070;
	margin-top: 1.5vw;
	line-height: 1.4vw
}

.bio {
	position: absolute;
	margin-left: 30vw;
	margin-top: -26.3vw;
	width: 25vw;
}

.artistabout h3 {
	font-family: Helvetica, sans-serif;
	color: #707070;
	letter-spacing: 0.05vw;
	font-size: 1.4vw;
	margin-bottom: 0;
	padding-bottom: 1.2vw;
}

.artistabout span {
	font-family: Helvetica, sans-serif;
	color: #707070;
	font-size: 1vw;
}

.artistabout a {
	font-family: Helvetica, sans-serif;
	color: #707070;
	font-size: 1vw;
}

.appearson:hover {
	border-bottom: 0.1vw solid #707070;
}

.info {
	margin-left: 2vw;
	margin-top: 2.5vw;
}

.info img {
	margin: 0;
	padding-top: 0.3vw;
	padding-bottom: 0.3vw;
}

.info a {
	position: absolute;
	font-family: Helvetica, sans-serif;
	font-size: 1.1vw;
	margin-left: 0.8vw;
	margin-top: 0.3vw;
	margin-bottom: 0.3vw;
}

.infolink:hover {
	border-bottom: 0.13vw solid #707070;
}

/*grid*/

.grid-item {
	margin: 0;
}

#melancholic, #ecstatic, #idyllic, #gloomy, #restless, #peculiar {  
opacity: 1;
position: absolute;
color: #cccccc;
font-family: bebas-neue, sans-serif;
text-transform: capitalize;
font-size: 1.2vw;
}

.notshown {
	opacity: 0;
}

/* Artists */

.row {
	font-family: Helvetica, sans-serif;
	display: inline-block;
	vertical-align: top;
	/*background-color: blue;*/
	width: 70vw;
	margin-left: 15vw;
	margin-top: 7vw;
}

.row div {
	width: 9vw;
	height: 10vw;
	display: inline-block;
	vertical-align: top;
	margin-right: 6.5vw;
	margin-left: 6.5vw;
	margin-top: 0.2vw;
	margin-bottom: 0.2vw;
}

.row h1 {
	color: #707070;
	font-size: 1.2vw;
	margin-bottom: 0.4vw;
}

.row a {
	position: absolute;
	display: block;
	font-size: 1.2vw;
}

.second {
	margin-top: 1.6vw;
}

.third {
	margin-top: 3.2vw;
}

.fourth {
	margin-top: 4.8vw;
}

.artistlink:hover {
	border-bottom: 0.1vw solid #707070;
}

/* Playlist Pages */

#displaySongs, #displayArtists, #displayBatForLashes, #displayJoyDivision, #displayBauhaus,
#displayTheCure, #displaySheWantsRevenge, #displayTheSoftMoon, #displayBillieEilish,
#displayAurora, #displaySabrinaClaudio, #displayToveLo, #displayLondonGrammar,
#displayWolfAlice, #displayMountKimbie, #displayThexx, #displayChristianLoffler,
#displayKingKrule, #displayTchami, #displayMuraMasa, #displayJamiexx, #displayHomeshake,
#displayFengSuave, #displayMacDeMarco, #displayBeshken, #displayLewisDelMar, #displayaltJ,
#displayForeignAir, #displaySylvanEsso, #displayMaviPheonix, #displayLorde {
	display: none;
}

.mySlides {
	display: none;
}

#displayAbout {
	/*display: none;*/
}



.playlistartists {
	color: #707070;
	margin-top: 9vw;
	margin-left: 38vw;
}

.playlistartists span {
	position: absolute;
	margin-top: 5.2vw;
	font-family: Helvetica, sans-serif;
	font-size: 1.1vw;
	font-weight: 700;
	letter-spacing: 0.1vw
}

.playlistartists a {
	position: absolute;
	margin-top: 6.7vw;
	font-family: Helvetica, sans-serif;
	font-size: 1vw;
	font-weight: 500;
	letter-spacing: 0.1vw
}

.playlistartists img {
	margin-bottom: 2.5vw;
	margin-right: 3vw;
} 

.learnmore:hover {
	border-bottom: 0.1vw solid #707070;
}

.playlisttitle h1 {
	position: absolute;
	margin-top: -2.1vw;
	font-family: bebas-neue, sans-serif;
	font-weight: 500;
	color: #707070;
	padding-bottom: 0.1vw;
	border-bottom: 0.4vw solid #707070;
	font-size: 4.5vw;
}

.melancholic {
	margin-left: 79vw;
}

.ecstatic {
	margin-left: 85.8vw;
}

.idyllic {
	margin-left: 88.2vw;
}

.gloomy {
	margin-left: 87vw;
}

.restless {
	margin-left: 85vw;
}

.peculiar {
	margin-left: 85vw;
}

.playlistsongs {
	color: #707070;
	margin-top: 9vw;
	margin-left: 38vw;
}

.playlistsongs span {
	position: absolute;
	margin-top: 5.2vw;
}

.playlistsongs text {
	position: absolute;
	margin-top: 6.7vw;
}

.playlistsongs img {
	margin-bottom: 2.5vw;
	margin-right: 3vw;
}

.songtitle {
	font-family: Helvetica, sans-serif;
	font-size: 1.1vw;
	font-weight: 700;
	letter-spacing: 0.1vw
}

.songartist {
	font-family: Helvetica, sans-serif;
	font-size: 1vw;
	font-weight: 500;
	letter-spacing: 0.1vw
}

.icon {
	position: absolute;
}

.playicon {
	position: absolute;
	margin-left: -4.6vw;
	margin-top: 7.2vw;
	cursor: pointer;
}

.moreicon {
	position: absolute;
	font-family: avenir, sans-serif;
	font-size: 3vw;
	margin-left: -4.5vw;
	margin-top: 3vw;
	cursor: pointer;
}

.playlistabout {
	position: absolute;
	width: 52%;
	text-align: center;
	margin-left: 19vw;
	margin-top: 0vw;
}

/*.playlistabout img {
	vertical-align: top;
	margin-left: 1vw;
	margin-right: 1vw;
	margin-bottom: 2vw;	
}
*/

/* Audio Player Styles */

.example {
    margin: 50px auto 0;
    width: 400px;
}

.player {
    /*background: transparent url("images/spr.png") no-repeat scroll center top;*/
    height: 162px;
    position: fixed;
    width: 326px;
    z-index: 2;
    margin-top: 45vw;
    margin-left: -9.5vw;
    display: block;
}

.player2 {
	margin-top: 49vw;
}

.title, .artist {
    font-family: helvetica, sans-serif;
    left: 167px;
    position: absolute;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.title {
	font-family: helvetica, sans-serif;
	font-size: 1.1vw;
	font-weight: 700;
	/*letter-spacing: 0.1vw*/
    color: #707070;
    font-size: 14px;
    font-weight: bold;
    top: 23px;
}
.artist {
	font-family: helvetica, sans-serif;
	font-size: 1vw;
	font-weight: 500;
	/*letter-spacing: 0.1vw*/
    color: #707070;
    font-size: 12px;
    top: 40px;
}
.pl {
    /*background: transparent url("images/spr.png") no-repeat scroll -274px -175px;*/
    cursor: pointer;
    height: 34px;
    left: 270px;
    position: absolute;
    top: 20px;
    width: 32px;
}
.pl:hover {
    top: 21px;
}

.cover {
    background: transparent url(data/cover) no-repeat scroll center top;
    border-radius: 5px 5px 5px 5px;
    height: 94px;
    left: 20px;
    position: absolute;
    top: 20px;
    width: 94px;
}

.controls {
    cursor: pointer;
    height: 23px;
    left: 167px;
    position: absolute;
    top: 65px;
    width: 138px;
}
.controls .play, .controls .pause, .controls .rew, .controls .fwd {
    /*background: transparent url("images/spr.png") no-repeat scroll 0 0;*/
    float: left;
    /*height: auto;*/
    /*width: 10%;*/
}
.controls .play {
    background-position: -8px -171px;
}
.controls .pause {
    background-position: -8px -198px;
    display: none;
}
.controls .rew {
    background-position: -54px -171px;
}
.controls .fwd {
    background-position: -100px -171px;
}
.controls .play:hover {
    background-position: -8px -170px;
}
.controls .pause:hover {
    background-position: -8px -197px;
}
.controls .rew:hover {
    background-position: -54px -170px;
}
.controls .fwd:hover {
    background-position: -100px -170px;
}
.hidden {
    display: none;
}
.controls .visible {
    display: block;
}

.visible {
	display: block;
}

.volume {
    height: 11px;
    left: 186px;
    position: absolute;
    top: 96px;
    width: 112px;
}
.tracker {
    height: 15px;
    left: 20px;
    position: absolute;
    top: 126px;
    width: 285px;
}
.ui-slider-range {
    /*background: transparent url("images/spr.png") no-repeat scroll 5px -222px;*/
    height: 100%;
    position: absolute;
    top: 0;
}
.ui-slider-handle {
    cursor: pointer;
    height: 10px;
    margin-left: -5px;
    position: absolute;
    top: 2px;
    width: 10px;
    z-index: 2;
}
.volume .ui-slider-handle {
    /*background: url("images/spr.png") no-repeat scroll -201px -188px rgba(0, 0, 0, 0);*/
    height: 13px;
    width: 13px;
}
/*.playlist {
    list-style-type: none;
    margin: -10px 0 0 2px;
    padding-bottom: 10px;
    padding-top: 15px;
    position: relative;
    width: 326px;
    z-index: 1;
}*/

.menubar {
	display: none;
}

.phonemenu {
	display: none;
}

.phoneplayer {
	display: none;
}

.biopagetitle {
	display: block;
}

@media only screen and (max-width: 600px) {

.menubar {
	display: block;
	position: fixed;
	top: 0;
	overflow-y: hidden;
	z-index: 3;
}

.phonemenu {
	display: block;
	z-index: 1;
   	padding: 3vw 3vw 5.5vw 3vw;
   	width: 80vw;
   	height: 5vw;
   	margin-left: 6.7vw;
   	margin-top: 6.7vw;
   	background-color: #141414;
   	align-self: start;
   	transition: height 0.6s;
   	text-align: center;
}

.phonemenu.is-open {
  	width: 80vw;
  	height: 74.5vh;
}

.line1 {
	position: absolute;
	margin-left: 2vw;
	margin-top: -7vw;
	width: 75vw;
	height: 1vw;
	background-color: #707070;
}

.line2 {
	position: absolute;
	margin-left: 2vw;
	margin-top: -6.5vw;
	width: 75vw;
	height: 1vw;
	background-color: #707070;
}

.line3 {
	position: absolute;
	margin-left: 2vw;
	margin-top: -6vw;
	width: 75vw;
	height: 1vw;
	background-color: #707070;
}

.phonemenu a {
	padding-bottom: 8vw;
	text-decoration: none;
	font-size: 10vw;
	letter-spacing: 0.4vw;
	color: #707070;
	font-weight: 300;
	display: block;
	margin-top: -4vw;
}

.phonemenu h1 {
	font-family: bebas-neue, sans-serif;
	margin-top: 0vw;
	font-weight: 500;
	font-size: 10vw;
	margin-top: -1.7vw;
	color: #707070;
}

.playlistphonemenu a {
	font-family: Helvetica, sans-serif;
	font-size: 5vw;
	text-transform: uppercase;
	letter-spacing: 0.8vw;
}

.phoneplayer {
	display: block;
	position: absolute;
	z-index: 3;
	margin-top: -4vw;
	margin-left: -42vw;
}

.player {
	display: none;
}

.menu, .dropdown {
	display: none;
}

.playlisttitle {
	display: none;
}

.indexcontent {
	display: flex;
	align-items: center;
	justify-content: center;
}

.carousel {
	box-sizing: border-box;
	margin-top: 53vw;
	width: 62vw;
}

.carousel-cell img {
	width: 60vw;
	padding-left: 4vw;
	padding-right: 4vw;
}

/*playlistartists*/
.playlistartists {
	position: absolute;
	margin-top: 30vw;
	margin-left: 30vw;
	width: 41vw;
}

.playlistartists img {
	width: 100%;
	margin-bottom: 15vw;
}

.playlistartists span {
	position: absolute;
	margin-top: -13vw;
	padding-top: 0vw;
	font-size: 3vw;
}

.playlistartists a {
	font-size: 2vw;
	margin-top: -8.5vw;
}

.artistabout {
	margin-top: 33vw;
}

.bio h2 {
	position: absolute;
	font-size: 5vw;
	margin-top: -37vw;
	margin-left: -31.5vw;
}

.bio p {
	position: absolute;
	font-size: 2.5vw;
	margin-left: -31.5vw;
	margin-top: 32.5vw;
	width: 47vw;
	line-height: 3.5vw;
}

.bio span {
	/*position: absolute;
	font-size: 2.5vw;
	margin-left: -31.5vw;
	margin-top: 87vw;*/
	display: none;
}

.bio a {
	font-size: 2.5vw;
}

.artistaboutwtitle {
	margin-top: 21vw;
}

.artistabout img {
	width: 70%;
	margin-left: -1.5vw;
}

.info {
	position: absolute;
	margin-left: -2vw;
}

.info h3 {
	font-size: 4vw;
	margin-bottom: 2vw;
}

.info img {
	width: 10%;
	margin-left: 0.2vw;
	padding-bottom: 1.5vw;
}

.info a {
	position: absolute;
	font-size: 2.5vw;
	margin-left: 2vw;
}

.biopagetitle {
	display: none;
}

.lines14 {
	margin-top: 57vw;
}

.lines15 {
	margin-top: 60vw;
}

.lines16 {
	margin-top: 64vw;
}

.lines17 {
	margin-top: 67vw;
}

.lines10 {
	margin-top: 43vw;
}

.lines12 {
	margin-top: 50vw;
}

.lines18 {
	margin-top: 71vw;
}

.lines8 {
	margin-top: 36vw;
}

}