html {
    background-color: rgb(247, 247, 247);
}

body, html {
    width: 100%;
    margin: 0;
	padding: 0;
	color: #000000;
    font-family: 'roboto-mono', monospace;
}

p, h1, h2, h3, h4, span, a, div {
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: 'roboto-mono', monospace !important;
    font-size: 16px;
}

* {
	box-sizing: border-box;
}

/* helpers */

.grid-gap-xxs {
    grid-gap: 5px;
}

.grid-gap-products {
    grid-gap: 100px 200px;
}

.pad-xxxs {
    padding: 3px;
}

.pad-xxs {
    padding: 8px;
}

.spacer-xxs {
    width: 100%;
    height: 3px;
}

.close {
    display: none;
}

/* other */
.header {
    width: 100%;
    top: 0%;
    height: 35px;
    background: linear-gradient(0deg, rgb(131, 131, 131), rgb(214, 214, 214) 90%);
    color: #000000;
    font-family: titling-gothic-fb-extended, sans-serif !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.header p {
    font-family: titling-gothic-fb-wide, sans-serif !important;
    font-size: 0.8vw !important;
    text-shadow: rgb(213, 213, 213) 0px 1px 0px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h1 {
    font-family: titling-gothic-fb-extended, sans-serif !important;
    font-weight: 500;
    font-size: 3vw !important;
}

/* .index-content {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.psw-container button {
    background: linear-gradient(0deg, rgb(148, 148, 148), rgb(234, 234, 234) 50%);
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px 10px;
    width: 100px;
}

.psw-container button:hover {
    background: linear-gradient(0deg, rgb(153, 153, 153), rgb(241, 241, 241) 50%);
}

.psw-container button:active {
    color: #000000;
    background-image: linear-gradient(0deg, rgb(234, 234, 234), rgb(148, 148, 148) 50%);
}

.close-button {
    background: linear-gradient(0deg, rgb(148, 148, 148), rgb(234, 234, 234) 50%);
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 1vw !important;
}

.close-button:hover {
    background: linear-gradient(0deg, rgb(153, 153, 153), rgb(241, 241, 241) 50%);
}

.close-button:active {
    color: #000000;
    background-image: linear-gradient(0deg, rgb(234, 234, 234), rgb(148, 148, 148) 50%);
}

/* start */
.input-box-initial {
    display: grid;
    grid-template-columns: 6% 74% 20%;
    font-size: 1vw !important;
}

.input-box {
    display: grid;
    grid-template-columns: 6% 6% 88%;
    font-size: 1vw !important;
}

.form {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px 10px; 
    background: linear-gradient(0deg, rgb(131, 131, 131), rgb(214, 214, 214) 90%);
    color: #000000;
    z-index: 100;
    font-size: 1vw !important;
}

.form-posted {
    width: 100%;
    padding: 20px 10px 0px;
    position: relative;
    font-size: 1vw !important;
}

.form span, .form p, .form-posted span, .form-posted p {
    font-size: 1vw !important;
}

.options p {
    font-family: titling-gothic-fb-wide, sans-serif !important;
}

#message:focus {
    outline: none;
}

.split-view {
    float: left;
    width: 50%;
    height: 100%;
}

#message-board-wrapper {
    height: 100%;
}

#message-board {
    margin-top: 2%;
    margin-bottom: 4%;
}

#product-view {
    margin-top: 2%;
    margin-bottom: 4%;
    background-color: rgb(232, 232, 232);
    /* overflow: scroll; */
    position: relative;
}

.product-view {
    max-width: 185px;
}

.product-view img {
    display: none;
    position: absolute;
    z-index: -1;
    width: 10%;
}

.product-view:hover img { 
    display: block;
}

.product-view:hover p {
    background: linear-gradient(90deg, #FFC000 0%, #F13C21 50%, #FFC000 100%);
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product-img-pad {
    padding-left: 20px;
    margin-top: -9px;
}

.product {
    padding: 20px 20px 80px;
}

.product-title {
    font-size: 1.2vw !important;
    font-family: titling-gothic-fb-extended, sans-serif !important;
}

.product p {
    font-family: titling-gothic-fb-wide, sans-serif !important;
}

.product span {
    font-family: roboto-mono, monospace;
}

.product-details {
    display: grid;
    grid-template-columns: 15% 85%;
    line-height: 20px;
    font-size: 1vw !important;
}

.product-details-2, .product-details p {
    font-size: 1vw !important;
}

.product-button {
    background: linear-gradient(0deg, rgb(148, 148, 148), rgb(234, 234, 234) 50%);
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 1vw !important;
}

.product-button:hover {
    background: linear-gradient(0deg, rgb(153, 153, 153), rgb(241, 241, 241) 50%);
}

.product-button:active {
    color: #000000;
    background-image: linear-gradient(0deg, rgb(234, 234, 234), rgb(148, 148, 148) 50%);
}

.product-button-close {
    position: absolute;
    top: 89.7%;
    left: 23%;
    padding: 7px 11px;
}

.swiper-container {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-wrapper {
    width: 50%;
}
.swiper-wrapper img {
    width: 100%;
}

.flickity-button-icon {
    left: 25% !important;
    top: 25% !important;
    width: 50% !important;
    height: 50% !important;
}

.flickity-button {
    width: 30px !important;
    height: 30px !important;
    border-radius: 2px !important;
    color: #000000 !important;
    background: linear-gradient(0deg, rgb(148, 148, 148), rgb(234, 234, 234) 50%) !important;
    border: 1px solid black !important;
}

.flickity-prev-next-button.previous {
    left: -15px !important;
}

.flickity-prev-next-button.next {
    right: -15px !important;
}

.flickity-button:hover {
    background: linear-gradient(0deg, rgb(153, 153, 153), rgb(241, 241, 241) 50%) !important;
}

.flickity-button:active {
    color: #000000 !important;
    background-image: linear-gradient(0deg, rgb(234, 234, 234), rgb(148, 148, 148) 50%) !important;
    opacity: 1 !important;
}

.flickity-page-dots {
    display: none;
}

/* articles */
.article-view {
    max-width: 600px;
}

.article-view img {
    display: none;
    position: absolute;
    z-index: -1;
    width: 15%;
}

.article-view:hover img { 
    display: block;
}

.article-view:hover p { 
    background: linear-gradient(90deg, #FFC000 0%, #F13C21 50%, #FFC000 100%);
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.article {
    padding: 20px 10px 80px;
}

.article-head div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-head p {
    margin-left: 139px;
    font-size: 1.1vw !important;
}

.article-head img {
    width: 60%;
}

.article-title p {
    font-family: titling-gothic-fb-extended, sans-serif !important;
    font-weight: 600;
    font-size: 1.5vw !important;
    padding: 0px 50px;
}

.article-title span {
    font-size: 1.1vw !important;
}

.article-text {
    text-align: left;
    padding: 0px 40px;
    line-height: 20px;
}

.article-test p {
    font-size: 1vw !important;
}

.article-text .quote {
    font-family: titling-gothic-fb-wide, sans-serif !important;
    font-weight: 600;
    font-size: 1.5vw !important;
    padding: 0px 50px;
    line-height: 25px;
    text-align: center;
}

.article-text-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-text img {
    width: 60%;
}

.article-button {
    background: linear-gradient(0deg, rgb(148, 148, 148), rgb(234, 234, 234) 50%);
    border: 1px solid black;
    border-radius: 2px;
    padding: 7px 11px;
    font-size: 1vw !important;
    position: absolute;
    top: 95%;
    left: 46%;
}

.article-button:hover {
    background: linear-gradient(0deg, rgb(153, 153, 153), rgb(241, 241, 241) 50%);
}

.article-button:active {
    color: #000000;
    background-image: linear-gradient(0deg, rgb(234, 234, 234), rgb(148, 148, 148) 50%);
}